body {
    width: 100%;
    display: flex;
    margin-left: 0%;
    margin-right: 0%;
}

#navbar {
    width: 20%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(77, 69, 164, 1);
}

#nav-header {
    height: 1.5rem;
    color: white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.nav-link {
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

#main-doc {
    width: 80%;
    margin-top: 1rem;
}